.reverse {
  flex-direction: row-reverse;
}

.figth-card {
  width: 100%;
  margin: 30px auto;
  border-bottom: 1px solid rgba(213,214,216,.2);
  border-top: 1px solid rgba(213,214,216,.2);
  padding: 18px;
}
.figth-card-content {
  display: flex;
  justify-content: center;
}

.figth-card-content {
  display: flex;
}

.figther-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15%;
  padding: 15px;
}

.text {
  color: #abadb1;
  font-family: "bebas-neue", sans-serif;
  font-size: 1.2rem;
}

.title {
  color: white;
  font-family: "bebas-neue", sans-serif;
  font-size: 1.5rem;
}

.title span {
  color: red;
  margin-right: 10px;
}