.section-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 700px;
  margin: auto;
}

.image-section {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
}

.image-container {
  height: 90%;
  width: 100%;
  text-align: center;
}

.image-container img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.section-description {
  width: 40%;
  height: 100%;

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 20px auto;
}

.description-text {
  font-size: 1.2rem;
  line-height: 28px;
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.button-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 30px 0px;
  padding: 10px;
  border-radius: 9px;
  border: none;
  /* font-family: "bebas-neue", sans-serif; */
  /* font-weight: bold; */
  font-size: 1rem;
  background-color: red;
  cursor: pointer;
}

/* Figths */
.figths-container {
  margin: 50px auto;
}

.figths-tittle {
  font-size: 4rem;
  font-family: "bebas-neue", sans-serif;
  text-align: center;
}

/* Sponsors */
.sponsors-container {
  margin: 50px auto;
}
.sponsors-tittle {
  font-size: 4rem;
  font-family: "bebas-neue", sans-serif;
  text-align: center;
}
.sponsors-list {
  margin: 40px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}

.sponsors-list__item {
  width: 25%;
}

.sponsors-list__item img {
  height: 100%;
  width: 100%;
}

.logo-image-container {
  width: 50%;
  margin: auto;
}

@media (max-width: 800px) {
  .sponsors-tittle {
    font-size: 2.5rem;
  }
  .sponsors-list {
    flex-direction: column;
  }
  .sponsors-list__item {
    width: auto;
  }
}

@media (max-width: 1200px) {
  .section-container {
    flex-direction: column-reverse;
    height: auto;
  }

  .section-description {
    width: 90%;
  }

  .description-title {
    text-align: center;
  }

  .description-text {
    width: 90%;
    margin: auto;
  }

  .button-container {
    margin: 30px auto;
  }

  .image-section {
    width: 100%;
    justify-content: center;
  }

  .image-container {
    width: 65%;
  }
}